
/*****************
*Simple CSS Reset*
******************/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/**********************
******Main HTML*****
***********************/
html, body {
    overflow-x: hidden;
    /*scroll-behavior: smooth;*/ /*Bug in chrome? - nav links don't work with this - look into*/
}

/* 1 rem = 10 px*/
/* 10px = 62.5% of default font size of browser*/
html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: #f9f9f9;
}

