/*COLORS*/
$primary-color-green: #4a7637;
$primary-color-orange: #de6126;
$primary-color-beige: #efebda;

$color-black: #000;

/*FONT*/
$default-font-size: 1.6rem;
$default-font-color: #1a1919;

/* GRID */
$gutter-vertical: 5rem;
$gutter-horizontal: 3rem;