
footer {
    background-color: $primary-color-green;
    padding: 2rem;

    a:link, 
    a:visited {
        color: $primary-color-beige;
        text-decoration: none;
    }

    a:hover, a:active {
        color: $primary-color-orange;
    }
}


.footer-nav {
    list-style: none;
    float: right;
}

.social-icons {
    list-style: none;
    font-size: 150%;
    color: $primary-color-beige;

    &:hover,
    &:active {
        color: $primary-color-orange;
    }
}

.footer-nav li,
.social-icons li {
    display: inline-block;
    margin-right: 2rem;
}

.footer-nav li:last-child,
.social-icons li:last-child {
    margin-right: 0
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-icons li a:link,
.social-icons li a:visited {
    text-decoration: none;
    border: 0;
    -webkit-transition: color 0.2s, border-bottom 0.2s;
    transition: color 0.2s, border-bottom 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active
 {
    color: $primary-color-orange;
}
