
.section-inner {
    max-width : 70%;
    margin: 5rem 15%;
    line-height: 1.7;
    font-size: 110%;
}

.trip-details li {
    list-style: none;
}

.trip-details-icon {
    color: $primary-color-green;
    font-size: 110%;
    margin-right: 1rem;
}

.inner-sub-header { 
    list-style: none;
    margin-top: 2rem;
    border-bottom: 1px solid $primary-color-beige;

    ul {
        float: right;

    }

    li {
        display: inline-block;
        margin: 0.5rem;

        a:link,
        a:visited {
            color: $primary-color-orange;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 110%;
            border-bottom: 2px solid transparent;
            -webkit-transition: border-bottom 0.2s;
            transition: border-bottom 0.2s;
            padding: 1rem 0;
        }

        a:hover,
        a:active {
            border-bottom: 2px solid $primary-color-orange;
        }

        &::after{
            height: 2px;
            color: $primary-color-beige;
            content:"|";
            font-size: 125%;
            padding: 0 0.5rem;
        }
            }

          
    }

